# .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/

# config files
appsettings.json

# Database
*.db
*.db-shm
*.db-wal

# Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

